
.container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    // background-color: rgb(44, 3, 57);
    // padding-left: 10%;
}
.footer-item {
    text-align: left;
    // padding: 90px;
    padding-left: 1%;
    width: 40%;
    color: white;
    font-size: large;
}
.footer-item p{
    color: white;
    background-color: #160923;
    font-size: 15px;
    margin: 0%;
    padding: 0%;
}
// .footer-item1 #para2{
//     color: white;
//     background-color: #160923;
//     display: inline-flex;
//     font-size: 15px;
//     margin-left: 0%;
//     padding-left: 1%;
// }
.tt{
    color: white;
    font-size: large;
    width: 70%;
    display: inline-flex;
}
.footer-item1 {
    text-align: left;
    padding: 90px;
    padding-left: 0.1%;
    width: 30%;
    font-size: large;
}
.footer-item2 {
    text-align: left;
    padding-top: 90px;
    // padding-left: 1px;
    // padding-left: 1%;
    width: 20%;
    // font-size: small;
}
.footer-item #line{
    padding-left: 5%;
    display: inline-flex;
    width: 80%;
    font-size: large;
}
.end{
    background-color: black;
    padding-left: 38%;
    padding-bottom: 1%;
    padding-top: 1%;
    color: white;
}
.footer-item #map{
    padding-left: 10%;
}
.mail #para2{
    color: white;
    display: inline-flex;
    padding-left: 5%;
    font-size: medium;
}