.container-otp{
    display: flex;
    margin-left: 40%;
    // margin-top: 2%;
}
.resend{
    display: flex;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    margin-left: 15%;
    // margin-top: 5%;
    width: 60%;
    color: black;
    background-color: #fec90ad9;
    font-weight: bolder;
}
.submit{
    display: inline-flex;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    // margin-left: 5%;
    // width: 10%;
    // background-color: #4d1a6c;
    color: white;
    height: fit-content;
    font-weight: bolder;
}
#submit{
    width: fit-content;
    background-color: #4d1a6c;
    border-radius: 10px;
    border: 1px solid white;
    margin-left: 10%;
}
#otp{
    display: flex;
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
}
#otph1{
    color: white;
    font-size: 40px;
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
}

.resend-disabled {
    display: flex;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    margin-left: 15%;
    // margin-top: 5%;
    width: 60%;
    color: black;
    background-color: #D8D8D8;
    font-weight: bolder;
}
@media screen and (max-width: 1250px){
    .container-otp{
        flex-direction: column;
        align-items: center;
        padding: 5%;
        margin-left: 5%;
    }
    #otp{
        align-items: center;
        // margin-left: 1%;
    }
    .resend{
        margin-bottom: 5%;
    }
    #submit{
        margin-left: 0%;
    }
}