body{
    background-color: #180c1e;
}
.container {
    font-family: 'Quantico', sans-serif;
}
.header{
    align-items: center;
    justify-content: center;
    display: flex;
    padding:2%;
}
.navbar{
    background-color: #4d1a6c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    flex: auto;
    border: 2px solid white;
    border-radius: 15px;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    gap: 2rem;
    color: white;
}
li{
    flex: auto;
}
.navbar a {
    color: white;
    padding: 14px 50px ;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: #3b1353;
    color: white;
    border-radius: 10px;
  }
img{
    border-radius: 30px !important;
    width: 8% !important;
}
#profile {
    width: 40px;
    height: 40px;
}
input {
    /* border-radius: 10px; */
    width: 500;
    background-color: #3E185C;
    color: white;      
    padding: 10px;
    margin: 0 0 20px 0;
}
.dot {
    width: 350px;
    height: 350px;
    background-color: #3E065F;
    border-radius: 50%;
    display: flex;
    margin-right: 90px;
    margin-left: 70px;
}
.container2 {
    display: flex;
    margin-left: 50px;
}
.container4{
    display: flex;
    margin: 0 500px 0 0;
}
h1 {
    color: white;
    font-size: 40px;
    /* padding: 10px; */
}
/* .container3{
    margin-left: 600px;
} */
h2{
    color: white;
    font-size: 25px;
    /* margin-left: 600px; */
}
.left {
    display: block;
    position: absolute;
    padding: 10px;
    /* padding-left: 150px; */
    background-color: #210735;
    margin: 20px;
    height: 700px;
}
.description {
    background-color: #3E065F;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}
.right {
    margin-left: 800px;
    display: block;
}
#make {
    display: flex;
}
input.search{
    background-color: #180c1e;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}
.submit {
    display: block;
    color: white;
    font-size: larger;
    font-weight: 100 !important;
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
    background: #3E065F;
    width: 90px;
    height: 40px;
    margin-top: 20px;
    margin-left: 500px !important;
}
@media (max-width: 600px) {
    .container2, .navbar, .container4 {   
      flex-direction: column;
    }
  }

select {
    width: 73%;
    background-color: #3E185C;
    color: white;      
    padding: 10px;
    margin-bottom: 2%;
}