body{
    display:flex;
    flex: auto;
    align-items: center;
    background-color: #180c1e
}

.card{
    background-color: #180c1e;
    color: white;
    padding: 2%;
    min-width: 30%;
    max-height: 30%;
    border-radius: 5%;
    border-color: #680dade7;
    border-width: 1px;
    box-shadow: 0 0px 11px #680dade7
    
}
#meet{
    text-align: center;
    font-size: 2.5rem;
}
.cards{
    display: flex;
    flex: auto;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* grid-template: 25rem 25rem / 20rem 20rem 20rem; */
    gap: 2rem;
}

#card-body{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}
#card-title {
    text-align: center;
    font-size: x-large;
}
#photo{
    width: 100%;
    height: 30%;
}
i{
    color: white;
    padding: 1%;
}

button #go{
    text-align: center;
    vertical-align: middle;
    margin: 2% !important;
    margin-right: 0% !important;
}