body{
    display:flex;
    flex: auto;
    align-items: center;
    background-color: #180c1e !important;
}
.css-uttm9k{
    flex:auto;
    border:none;
}
.abouta{
    width:100%;
    height: 45%;
    font-size: large;
}
.faq{
    height: 25%;
    display:flex;
    flex:auto;
    flex-direction:column;
}
.wrapper{
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: center;
    color: white;
    background-color:#180c1e;
}
#abt{
        // background-color: #4d1a6c;
        padding: 1%;
        // border-color: white;
        // border-radius: 110px;
        // border-width: 2px;    
        overflow: hidden;
}
.wrapper #line{
    width: 40%;
    border: 1px solid #fec80a;
}
.message #msg{
    padding: 1%;
    color: rgb(248 243 20);
    font-size: xx-large;
    font-weight: bold;
}
.message #para-msg{
    padding: 1%;
    font-size: large;
}
.wrapper #line2{
    width: 50%;
    margin-left: 50%;
    border: 1px solid #fec80a;
}
h1{
    color: white;
    font-style: oblique;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 1%;
}
// .wrapper #line2{
//     margin-left: 55%;
//     width: 50%;
//     border: 1px solid #fec80a;
// }
.abouta>p{
    font-size: x-large;
    padding-left: 1%;
    padding-right: 1%;
    // text-align: left;  
}
h1#abouta{
    font-size: 300%;
    color: rgb(248 243 20);
    font-weight: 700;
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: center;
}

#para-abouta{
    text-align: left;
    // color: rgba(255, 255, 255, 0.874) !important;
}

h1#faq{
    font-size: xx-large;
}
#abd{
    font-family: 'Quantico';
    padding: 1%;
}
.qna{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    margin-left:1vh;
    margin-right: 1vh;
}
.q{ 
    display: flex;
    text-align: left; 
    font-size: xx-large; 
    font-weight: 500;
    background-color: #4d1a6c;
    border-radius: 15px;
    padding: 0.5rem;
    gap: 0.5rem;
}
h1#about,p{
    display: flex;
    padding-bottom: 2.5rem;
    // background-color: #4d1a6c;
}
.dash{
    color: #16E2F5;
    display: inline;
}
.accordion {
    // width: 800px;
    margin: 5%;
    color: white;
    border: 1px #fec80a solid;
    border-radius: 10px;
    padding: 1%;
    // background-color: #4D1A6C;
    // padding: 45px 45px;
}
.accordion .containera {
    position: relative;
    margin: 10px 10px;
  }
  .accordion .content{
    color: white;
  }
  
  /* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */
  
  .accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
  }
  
#a{ 
    display: flex;
    font-size: x-large;
    text-align: left;
    color: grey;
    padding: 1rem;
    gap: 1rem;
}
// .chakra-collapse{
//     background-color: #180c1e;
//     color:grey;
// }

.foot{
    background-color: #180c1e;
}
#fa{
    background-color: #180c1e;
    color: rgb(248, 243, 20);
}


/* sudo chmod +x node_modules/.bin/react-scripts */
