.containermc {
  font-family: "Quantico", sans-serif;
  // padding-top: 10%;
  padding-bottom: 6.5%;
}
#root {
  width: 100%;
  height: 100%;
}
.header {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 2%;
}
.right1 #commenttext {
  padding: 10px;
}
// .navbar {
//     background-color: #4d1a6c;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-left: 2%;
//     margin-right: 2%;
//     flex: auto;
//     border: 2px solid white;
//     border-radius: 15px;
// }
.shdw {
  border: rgba(104, 13, 173, 0.906);
  box-shadow: 0 0 11px rgba(104, 13, 173, 0.906);
  // box-shadow: 0 0 5px 1px #06a4ace7;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
  gap: 2rem;
  color: white;
}

li {
  flex: auto;
}

#profile {
  width: 40px;
  height: 40px;
}
.left1#named {
  align-items: center;
  font-size: x-large !important;
  text-align: center;
  flex-direction: column;
}

.dota {
  width: 50vh;
  height: 50vh;
  background-color: #3e065f;
  border-radius: 50%;
  display: flex;
  margin-top: 2vh;
  margin-bottom: 5vh;
  #ip {
    display: flex;
    width: 100%;
    border-radius: 50%;
    padding: 1%;
  }
  /* margin-left: 90px; */
}
.container2 {
  display: flex;
  margin-left: 60px;
}

.left1 {
  // display: block;
  padding-left: 2%;
  width: 45%;
  display: flex;
}

.description {
  // background-color: #3E065F;
  background-color: #180c1e;
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.comments3 {
  padding: 2%;
  background-color: #2e0249;
  border: none;
  border-radius: 20px;
  width: 80vh;
  height: 90vh;
  text-align: left;
  margin-left: 10%;
  margin-right: 1%;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #571c79;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #360153;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #29013e;
  }
}
.description h1 {
  font-size: x-large;
  padding: 10%;
}

.right1 {
  margin-right: 1%;
  width: 45%;
  // margin: 1%;
  padding: 1%;
}
#make {
  display: flex;
}

textarea {
  border: 1px solid white;
  border-radius: 20px;
  background: #000;
  color: white;
  width: 100%;
  height: 70vh;
}

#post {
  display: block;
  color: white;
  font-size: larger;
  border: 1px solid;
  border-color: white;
  border-radius: 10px;
  background: #3e065f;
  width: fit-content;
  height: fit-content;
  margin-top: 1%;
  margin-left: 80%;
}
#post:hover {
  border: 1px solid black;
  background-color: #fec80a !important;
  color: #000 !important;
}
input {
  width: 500;
  background-color: transparent;
  color: themed("textColor");
  vertical-align: middle;
  padding-top: 10px;
}

// .search {
//     border: 1px solid white;
// }

#apcomments {
  // display: flex;
  margin: 5%;
  padding: 1%;
}
#desc {
  width: 80%;
  // align-self: center;
  padding: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  border-color: rgba(104, 13, 173, 0.9058823529);
  border-width: 1px;
  box-shadow: 0 0px 11px rgba(104, 13, 173, 0.9058823529);
  background-color: #180c1e;
  font-size: large;
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #571c79;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #360153;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #29013e;
  }
}
.comments3 {
  padding: 2%;
  background-color: #2e0249;
  border: none;
  border-radius: 20px;
  width: 80vh;
  height: 90vh;
  text-align: left;
  margin-left: 10%;
  margin-right: 1%;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #571c79;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #360153;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #29013e;
  }
}

#cards-container {
  display: flex;
  overflow-x: auto;
  position: relative;

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #571c79;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #360153;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #29013e;
  }
}

@media screen and (max-width: 1250px) {
  .container2 {
    flex-direction: column;
    align-items: center;
    padding: 0%;
  }
  .left1,
  .right1 {
    width: 85%;
  }
  .right1 {
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .dota {
    max-width: 30vh;
    max-height: 30vh;
  }
}
