.header22 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 2%;
}
MenuItem {
    background-color: #4d1a6c;
}
.links{
    display: flex;
    margin: 0px;
}
#contain{
    display: flex;
    flex: auto;
    justify-content: end;
    align-items: flex-end;
}
button.links{
    width: 0%;
    visibility: hidden;
    margin: 0px;
    padding: 0px !important;
}
input .search{
    margin: 10px 0 0 0;
    // padding: 1%;
    margin-bottom: 1% !important;
}
.search{
    background-color: #180c1e;
    border: 1px solid white;
    border-radius: 10%;
    // margin-bottom: 5%;
    // padding: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 90%;
}
.searchr ul{
    width: 29%;
    display: block;
    position: absolute;
    margin: 0;
    // border: 2px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left:0.5%;
    margin-top: 4.5%;
    background-color: whitesmoke;
    z-index: 3;
}
#logout{
    border: 1px solid white;
    display: inline;
    margin: 2rem;
    border-radius: 10%;
    width: 20vh;
    // font-weight: 600;
}
#logout:hover{
    background-color: #fec90ae0;
    // background-color: white;
    color: black;
    border: 1px solid black;
}
.searchr ul li{
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5%;
    color: black;

}

.search ul li button{
    color: black;
    text-align: left;
}

.btnsearch2 p{
    padding: 0;
}
body {
    background-color: #180c1e;
}

// .container {
//     font-family: 'Quantico', sans-serif;
// }

.display-none {
    display: none;
}

.hamburger-toggle{
    cursor: pointer;
    color: white;
    display: none;
}

.dropdown-nav{
    max-height: 5%;
    z-index: 3;    
}
//for the profile pic form expanding horribly
.css-xl71ch{
    width: 50px;
}
button.css-1ycil38{
    width: 100px;
}

//for the dropdown onclick at the profile
.css-0{
    border: 2px solid white;
    transition: ease-in;
}

.bg-123123{
    background: radial-gradient(at right bottom, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42));
}
#loggedIn{
    display: flex;
    max-width: 60%;
    flex: auto;
}
@media screen and (max-width: 1200px){
 
    body{
       overflow-x: hidden; 
    }
    .css-0{
        display: flex;
        flex-flow: column;
    }
    .dropdown-nav{
        display: none;
    }
    .hamburger-toggle{
        display: flex;
        padding-right: 20%;
    }
    .navbar{
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .links{
        padding-top:5vh;
        position: fixed;
        // position: absolute;
        // right: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 60%;
        height:40%;
        top: 0vh;
        background-color: #4d1a6c;
        border:solid 2px white;
        font-size: 20px;
        transform: translateY(-120%);
        
        z-index: 100;
    }
    .active{
        transform: translateY(0%);
        transition: transform 0.5s ease-in;
    }
    .chakra-button{
        visibility: hidden;
    }
    button.active{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 17vh;
        margin-left: 19vw;
        height: 3rem;
    }
    button.links{
        visibility: visible;
        width: 15rem;
    }
    #prof{
        margin-top: 22vh;
    }
}

.navbar {
    background-color: #4d1a6c;
    // opacity: 70%;
    // position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    flex: auto;
    border: 0.5px solid white;
    border-radius: 15px;
    box-shadow: 0 0 3px 1px #ffffffd0;
    height: 4rem;
}

.google {
    /* width: 10%; */
    margin-left: 0%
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    gap: 2rem;
    color: white;
}

// li {
//     flex: auto;
//     padding: 0 30px 15px 10px;
// }

#av{
    color: white;
    padding: 14px 50px;
    // padding-left: 5%;
    // margin: 2%;
    text-decoration: none;
    text-align: center;
    display: inline;
}

#av:hover{
    /* padding: auto; */
    background-color: #3b1353bd;
    color: white;
    border-radius: 10px;
}

img {
    border-radius: 30px;
    width: 10%;
}

button {
    margin-left: 0 ;
    width: 205px ;
    padding: 10px !important;
}

@media (max-width: 720px) {
    .header22 {
        text-align: center;
        flex-direction: row;
    }

    .container-nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.8em 0;
    }
}

.dropdown {
    width: 90%;
    cursor: pointer;
    display: block;
    z-index: 3;
}

i {
    height: 1%;
    margin-top: 2%;
    margin-left: 1%;
}

.fa {
    font-size: small;
    color: white;
    padding: none !important;
    width: 2% !important;
    vertical-align: middle !important;
    padding-bottom: 0% !important;
}

#profilepic {
    width: 70% !important;
    height: 60% !important;
    margin-left: 0%;
    margin-right: 0%;
}

MenuItem {
    background-color: #4d1a6c;
}

.navbar_phone{
    display: none;
}

@media screen and (max-width: 992px){
    // .navbar-laptop{
    //     display: none;
    // }
    // .navbar_phone{
    //     display: block;
    // }
}
