.header{
    align-items: center;
    justify-content: center;
    display: flex;
    padding:2%;
}
body{
    background-color: #180c1e;
}
.container {
    font-family: 'Quantico', sans-serif;
}

.display-none{
    display: none;
}

.navbar{
    background-color: #4d1a6c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    flex: auto;
    border: 2px solid white;
    border-radius: 15px;
}
.google{
    /* width: 10%; */
    margin-left: 0%
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    gap: 2rem;
    color: white;
}
li{
    flex: auto;
    padding: 0 30px 15px 10px;
}
.navbar a {
    color: white;
    padding: 14px 50px ;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    /* padding: auto; */
    background-color: #3b1353;
    color: white;
    border-radius: 10px;
  }
img{
    border-radius: 30px !important;
    width: 10% !important;
}

button{
    margin-left: 0 !important;
    width: 205px !important;
    padding: 10px !important;
}
@media screen and (max-width: 720px) {
    .container {
      text-align: center;
      flex-direction: column;
    }  
    .container-nav {
      flex-direction: column;
    }  
    nav ul {
      flex-direction: column;
    }  
    nav li {
      margin: 0.8em 0;
    }
  }
  
    /* .navbar{
        background-color: #4d1a6c;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2%;
        margin-right: 2%;
        flex: auto;
        border: 2px solid white;
        border-radius: 15px;
    }
    
    ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: auto;
        gap: 2rem;
        color: white;
    }
    li{
        flex: auto;
    }
    .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px;
    }
    input {
            border: none;
            width: 500px;
            background-color: transparent;
            color: themed("textColor");      
    } */ 

    .dropdown {
        width: 90%;
        cursor: pointer;
        display: block;
    }
    
    i {
        height: 1%;
        margin-top: 2%;
        margin-left: 1%;
    }
    .fa {
        font-size: small;
        color: white;
        padding: none !important;
        width: 2% !important;
        vertical-align: middle !important;
        padding-bottom: 0% !important;
    }
